.header {
  background-color: #f0f4ec;
}
.navbar {
  padding: 20px;
  border-bottom: 2px solid rgba(63, 63, 63, 0.1);
}
.navbar-nav li {
  padding: 0 15px;
}
.navbar-nav li a {
  color: #3f3f3f;
  font-weight: 500;
  font-size: 18px;
}
.login-btn button {
  background-color: #396c03;
  border-radius: 225px;
  padding: 12px 50px;
  border: none;
  color: #fff;
  width: 154px;
  height: 58px;
}
.cart-logo {
  background: #396c03;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  cursor: pointer;
  position: relative;
}
.cart-number {
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  background: #ff8b00;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -6px;
  right: -6px;
}

/* order-food section */
.banner {
  border-bottom: 2px solid rgba(63, 63, 63, 0.1);
  padding-bottom: 150px;
}
.order-food {
  display: flex;
  position: relative;
}
.order-food-img1 {
  position: absolute;
  top: -50px;
  left: -185px;
}
.order-left {
  width: 50%;
  padding-top: 200px;
}
.order-left h2 {
  font-weight: 700;
  font-size: 65px;
  color: #396c03;
  font-family: "Merienda", cursive;
  margin-bottom: 27px;
}
.order-left p {
  color: #676767;
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 20px;
}
.order-left-location {
  position: relative;
}
.order-left-location input {
  width: 100%;
  height: 69px;
  border: 2px solid rgb(57, 108, 3, 0.1);
  border-radius: 120px;
  /* position: absolute; */
  padding-left: 70px;
}
.order-left-location .circle {
  background: #ff8b00;
  width: 49px;
  height: 49px;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  left: 10px;
}
.order-left-location button {
  padding: 15px 50px;
  background: #396c03;
  border-radius: 100px;
  border: none;
  color: #ffffff;
  font-weight: 500;
  font-size: 22px;
  position: absolute;
  right: 0px;
  top: 3px;
}

.order-right {
  width: 50%;
  position: relative;
}
.order-right-img1 {
  width: 100%;
  padding-top: 100px;
  position: absolute;
  z-index: 1;
}
.order-right-img2 {
  position: absolute;
  top: 80px;
  left: -50px;
}
.order-right-img3 {
  position: absolute;
  top: 10px;
  right: -85px;
}

/* explore-area section styles */
.explore-area {
  background-color: #fff9f2;
  padding-top: 50px;
  padding-bottom: 100px;
}
.explore {
  display: flex;
  gap: 50px;
}
.explore-content {
  width: 50%;
  padding-top: 100px;
}
.explore-content h2 {
  color: #396c03;
  font-weight: 700;
  font-size: 50px;
  line-height: 130%;
  font-family: "Merienda", cursive;
  margin-bottom: 10px;
}
.explore-content p {
  font-size: 18px;
  line-height: 160%;
  color: #676767;
  font-weight: 400;
  font-family: "Poppins";
  margin-bottom: 20px;
}
.explore-content button {
  background: #396c03;
  border-radius: 224.4px;
  padding: 15px 60px;
  border: none;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 22px;
  color: #ffffff;
}
.explore-img {
  width: 50%;
  position: relative;
}
.img-cycle {
  width: 100%;
  position: absolute;
}
.img-building {
  width: 100%;
  position: absolute;
}

/* media query */
@media only screen and (max-width: 768px) {
  .order-food {
    flex-direction: column;
  }
  .order-left {
    width: 100%;
    padding-top: 150px;
    padding-bottom: 30px;
  }
  .order-food-img1 {
    top: -47px;
    left: -60px;
    right: 10px;
    width: 70%;
  }
  .order-left h2 {
    font-size: 36px;
  }
  .order-left-location button {
    padding: 15px 20px;
  }
  .order-left-location button i {
    display: none;
  }
  .order-right {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 280px;
  }
  .order-right-img1 {
    padding-top: 50px;
  }
  .order-right-img2 {
    position: absolute;
    top: -5px;
    left: -27px;
  }
  .order-right-img3 {
    position: absolute;
    top: -18px;
    right: -22px;
    width: 65%;
  }

  .explore {
    flex-direction: column;
  }
  .explore-content {
    width: 100%;
    padding-top: 30px;
    text-align: center;
  }
  .explore-content h2 {
    font-size: 36px;
  }
  .explore-img {
    width: 100%;
  }
}
